# IDE
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Java Maven
java/target/
java/pom.xml.tag
java/pom.xml.releaseBackup
java/pom.xml.versionsBackup
java/pom.xml.next
java/release.properties
java/dependency-reduced-pom.xml
java/buildNumber.properties

# Compiled class files
java/*.class

# Log files
java/*.log

# Package Files
java/*.jar
java/*.war
java/*.nar
java/*.ear
java/*.zip
java/*.tar.gz
java/*.rar

